* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  display: grid;
  grid-template-columns: 50px 50px;
  grid-template-rows: 50px 50px;

  /* New rows added will be this value */
  grid-auto-rows: 50px;

  /* Gap shorthand will be row then col --> gap: 100px 10px */
  column-gap: 10px;
  row-gap: 100px;

  /* Rows Defined First */
  /* grid-template: 50px 50px / 250px 50px 50px; */
}

.container > div {
  border: 1px solid blue;
}
